/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Body */
body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Layout wrapper for two sides */
.login-page-wrapper {
  display: flex;
  height: 100vh;
}

/* Left Section (Logo, Title, Image, Description) */
.left-layout {
  background-color: #f0f5f9;
  width: 50%;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #333;
}

.logo-container {
  margin-bottom: 50px;
}

.logo-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.site-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #89d0f8;
  margin-bottom: 20px;
  text-decoration: none;
}

.description-img {
  width: 100%;
  margin-bottom: 20px;
}

.description-box {
  padding: 10px;
  background-color: #ffffff00;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.description-text {
  font-size: 1em;
  color: #555;
}

/* Right Section (Login Form) */
.right-layout {
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.login-form-container:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 2em;
  color: #89d0f8;
  margin-bottom: 20px;
}

/* Form Inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #89d0f8;
  outline: none;
}

/* Login Button */
p[type="button"] {
  background-color: #89d0f8;
  color: white;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

p[type="button"]:hover {
  background-color: #69c6f7;
}

.create-account-link {
  text-align: center;
  margin-top: 15px;
}

.create-account-link a {
  color: #89d0f8;
  font-size: 1em;
  text-decoration: none;
}

.create-account-link a:hover {
  color: #69c6f7;
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-page-wrapper {
    flex-direction: column;
  }

  .left-layout,
  .right-layout {
    width: 100%;
  }

  .description-img {
    width: 100%;
  }

  .login-form-container {
    padding: 20px;
  }

  .logo-img {
    width: 100px;
    
  }

  .site-title {
    font-size: 2em;
  }
}
