/* General reset and styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout wrapper for two sides */
.login-page-wrapper {
  display: flex;
  height: 100vh;
}

.left-layout {
  background-color: #89d0f8;
  width: 50%;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #333;
}

.logo-container {
  margin-bottom: 50px;
}

.logo-img {
  width: 100px;
  margin-bottom: 20px;
}

.site-title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.description-img {
  width: 60%;
  margin-bottom: 20px;
}

.description-box {
  padding: 10px;
  background-color: #ffffff00;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.description-text {
  font-size: 1em;
  color: #555;
  font-family: "Roboto", sans-serif;
}

.right-layout {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form-container {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #89d0f8;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
}

input[type="submit"]:hover {
  background-color: #89d0f8;
}

.create-account-link {
  text-align: center;
  margin-top: 15px;
}

.create-account-link a {
  color: #89d0f8;
  font-size: 1em;
  text-decoration: none;
}

.create-account-link a:hover {
  text-decoration: underline;
}

/* login */
p[type="button"] {
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 20%;
}

p[type="button"]:hover {
  background-color: #0056b3;
  color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-page-wrapper {
    flex-direction: column;
  }

  .left-layout,
  .right-layout {
    width: 100%;
  }

  .description-img {
    width: 100%;
  }
}
