<%- include("./include/_header") %>

<!-- Main -->
<main id="site-main">
  <h2>Sign Up</h2>

  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" type="text" placeholder="Username" />
        <input id="name" type="text" placeholder="Name" />
        <input id="pw" type="password" placeholder="Password" />
        <input
            id="confirm-pw"
            type="password"
            placeholder="Confirm Password"
          />
        <p id="button">CREATE AN ACCOUNT</p id="button">
        <p class="message">
          Already registered? <a href="/login">Login</a>
        </p>
      </form>
    </div>
  </div>
</main>
<!-- /Main -->

<script src="/js/home/register.js" defer></script>

<%- include("./include/_footer") %>