<%- include("./include/_header") %>

  <!-- Main -->
    <main id="site-main">
      <div class="button-box">        
        <a href="/contacts/add" class="btn btn-light"><i class="fa-solid fa-list"></i>Student Lists</a>
      </div>
      </div>
      <h2>Add Student</h2>          
      <p>Add a new student.</p>
      <form method="POST" id="add-user">
        <div class="user-info">
          <div class="col-12">
            <label for="name" class="col-form-label">Full Name</label>
            <div>
              <input type="text" class="form-control" name="name" id="name" placeholder="홍길동">
            </div>
          </div>
          <div class="col-12">
            <label for="email" class="col-form-label">E-mail</label>
            <div>
              <input type="text" class="form-control" name="email" id="email" placeholder="hong@abc.def">
            </div>
          </div>
          <div class="col-12">
            <label for="phone" class="col-form-label">Mobile</label>
            <div>
              <input type="text" class="form-control" name="phone" id="phone" placeholder="123-4567-8901">
            </div>
          </div>
          <button type="submit">Save</button>
        </div>
      </form>   
    </main>
  <!-- /Main -->

  <%- include("./include/_footer") %>