<%- include("../home/include/_header") %>
<head>
  <link rel="stylesheet" href="/css/contacts/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
  <!-- Main -->
    <main id="site-main">
      <div class="button-box">        
        <a href="/contacts" class="btn btn-light"><i class="fa-solid fa-list"></i>Student Lists</a>
      </div>
      </div>
      <h2>Add Student</h2>          
      <form action="/contacts/add" method="POST" id="add-user">
        <div class="user-info">
          <div class="col-12">
            <label for="name" class="col-form-label">Full Name</label>
            <div>
              <input type="text" class="form-control" name="name" id="name" placeholder="user">
            </div>
          </div>
          <div class="col-12">
            <label for="email" class="col-form-label">E-mail</label>
            <div>
              <input type="text" class="form-control" name="email" id="email" placeholder="user@trc.edu">
            </div>
          </div>
          <div class="col-12">
            <label for="mobile" class="col-form-label">Mobile</label>
            <div>
              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="0412345678">
            </div>
          </div>
          <button type="submit">Save</button>
        </div>
      </form>   
    </main>
  <!-- /Main -->

  <%- include("../home/include/_footer") %>