<%- include("../home/include/_header") %>

<head>
  <link rel="stylesheet" href="css/schedule/style.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>

  <!--
  <link rel="stylesheet" href="./fullcalendar/main.min.css">
  <script src="./fullcalendar/main.min.js" defer></script>
--></head>

<body>
  <h3>Calendar</h3>
  <div class="schedule-grid-parent">
    <div>
      <div class="schedule-input schedule-block">
        <span>Category: </span>
        <input
          type="text"
          placeholder="Select category"
          list="categoryList"
          id="categoryInput"
        />
        <datalist id="categoryList">
          <option value="Regular"></option>
          <option value="NDIS"></option>
          <option value="Math"></option>
          <option value="Holiday"></option>
        </datalist>
        <span>Date:</span>
        <div class="date-input">
          <input type="date" id="startDateInput" />
          <span>~</span>
          <input type="date" id="endDateInput" />
        </div>
        <span>Time:</span>
        <div class="time-input">
          <input type="time" id="startTimeInput" />
          <span>~</span>
          <input type="time" id="endTimeInput" />
          <label> <input type="checkbox" id="allDayCheckbox" /> All-day </label>
        </div>
        <span>Teacher:</span>
        <div class="teacher-input">
          <label
            ><input type="checkbox" class="teacherCheckbox" value="Ben" />
            Ben</label
          ><br />
          <label
            ><input type="checkbox" class="teacherCheckbox" value="Jayden" />
            Jayden</label
          ><br />
          <label
            ><input type="checkbox" class="teacherCheckbox" value="Jenny" />
            Jenny</label
          ><br />
          <label
            ><input type="checkbox" class="teacherCheckbox" value="Jin" />
            Jin</label
          ><br />
          <label
            ><input type="checkbox" class="teacherCheckbox" value="Jisu" />
            Jisu</label
          ><br />
        </div>
        <span>Memo:</span>
        <input type="text" id="memoInput" />
        <span></span>
        <button id="addBtn">Add</button>
        <span></span>
        <button id="sortBtn">Sort by Date</button>
        <span></span>
        <label
          ><input type="checkbox" id="shortlistBtn" /> Incomplete First
        </label>
      </div>

      <div class="schedule-block scheduleTable-block">
        <div class="itemsPerPage">
          <span>items per page</span>
          <select id="itemsPerPageSelectElem">
            <option>5</option>
            <option>10</option>
            <option>20</option>
          </select>
        </div>

        <table id="scheduleTable">
          <tr data-id="scheduleTable">
            <td></td>
            <td>Date</td>
            <td>Time</td>
            <td>Class</td>
            <td>Teacher</td>
            <td>Memo</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </table>

        <div class="pagination-pages"></div>
      </div>
    </div>

    <div class="schedule-calendar schedule-block">
      <div id="calendar"></div>
    </div>
  </div>
  <!-- class="schedule-grid-parent" -->

  <div class="schedule-overlay" id="schedule-overlay">
    <div class="schedule-modal" id="schedule-modal">
      <div class="schedule-input schedule-block">
        <span>Class: </span>
        <input
          type="text"
          placeholder="Enter category"
          list="categoryList"
          id="schedule-edit-category"
        />
        <datalist id="categoryList">
          <option value="Regular"></option>
          <option value="NDIS"></option>
          <option value="Math"></option>
          <option value="Holiday"></option>
        </datalist>
        <span>Date:</span>
        <div class="date-input">
          <input type="date" id="schedule-edit-startDate" />
          <span>~</span>
          <input type="date" id="schedule-edit-endDate" />
        </div>
        <span>Time:</span>
        <div class="time-input">
          <input type="time" id="schedule-edit-startTime" />
          <span>~</span>
          <input type="time" id="schedule-edit-endTime" />
          <label>
            <input type="checkbox" id="schedule-edit-allDay" /> All-day
          </label>
        </div>
        <span>Teacher:</span>
        <div class="teacher-input">
          <label
            ><input type="checkbox" class="schedule-edit-teacher" value="Ben" />
            Ben</label
          ><br />
          <label
            ><input
              type="checkbox"
              class="schedule-edit-teacher"
              value="Jayden"
            />
            Jayden</label
          ><br />
          <label
            ><input
              type="checkbox"
              class="schedule-edit-teacher"
              value="Jenny"
            />
            Jenny</label
          ><br />
          <label
            ><input type="checkbox" class="schedule-edit-teacher" value="Jin" />
            Jin</label
          ><br />
          <label
            ><input
              type="checkbox"
              class="schedule-edit-teacher"
              value="Jisu"
            />
            Jisu</label
          ><br />
        </div>
        <span>Memo: </span>
        <input type="text" id="schedule-edit-memo" />
        <span></span>
        <button id="changeBtn">Save Change</button>
      </div>
    </div>
    <div class="schedule-modal-close-btn" id="schedule-modal-close-btn">X</div>
  </div>

  <script src="js/schedule/script.js"></script>
</body>

<%- include("../home/include/_footer") %>
