<%- include("../home/include/_header") %>

<head>
  <link rel="stylesheet" href="css/schedule/style.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>

  <!--
  <link rel="stylesheet" href="./fullcalendar/main.min.css">
  <script src="./fullcalendar/main.min.js" defer></script>
--></head>

<body>
  <h3>Calendar</h3>
  <div class="schedule-grid-parent">
    <div>
      <div class="schedule-input schedule-block">
        <span>Schedule: </span>
        <input
          type="text"
          placeholder="Enter new schedule"
          id="scheduleInputTextbox"
        />
        <span>Category: </span>
        <input
          type="text"
          placeholder="Enter category"
          list="categoryList"
          id="categoryInput"
        />
        <datalist id="categoryList">
          <option value="Regular"></option>
          <option value="NDIS"></option>
        </datalist>
        <span>Date:</span>
        <input type="date" id="dateInput" />
        <span>Time:</span>
        <input type="time" id="timeInput" />
        <span>Teacher:</span>
        <input type="text" id="teacherInput" />
        <span></span>
        <button id="addBtn">Add</button>
        <span></span>
        <button id="sortBtn">Sort by Date</button>
        <span></span>
        <label
          ><input type="checkbox" id="shortlistBtn" /> Incomplete First
        </label>
      </div>

      <div class="schedule-block scheduleTable-block">
        <div class="itemsPerPage">
          <span>items per page</span>
          <select id="itemsPerPageSelectElem">
            <option>5</option>
            <option>10</option>
            <option>20</option>
          </select>
        </div>

        <table id="scheduleTable">
          <tr>
            <td></td>
            <td>Date</td>
            <td>Time</td>
            <td>Schedule</td>
            <td>
              <select id="categoryFilter"></select>
            </td>
            <td></td>
          </tr>
        </table>

        <div class="pagination-pages"></div>
      </div>
    </div>

    <div class="schedule-calendar schedule-block">
      <div id="calendar"></div>
    </div>
  </div>
  <!-- class="schedule-grid-parent" -->

  <div class="schedule-overlay" id="schedule-overlay">
    <div class="schedule-modal" id="schedule-modal">
      <div class="schedule-input schedule-block">
        <span>Schedule: </span>
        <input
          type="text"
          placeholder="Enter new schedule"
          id="schedule-edit-schedule"
        />
        <span>Category: </span>
        <input
          type="text"
          placeholder="Enter category"
          list="categoryList"
          id="schedule-edit-category"
        />
        <datalist id="categoryList">
          <option value="Regular"></option>
          <option value="NDIS"></option>
        </datalist>
        <span>Date:</span>
        <input type="date" id="schedule-edit-date" />
        <span>Time:</span>
        <input type="time" id="schedule-edit-time" />
        <span>Teacher:</span>
        <input type="text" id="schedule-edit-url" />
        <span></span>
        <button id="changeBtn">Save Change</button>
      </div>
    </div>
    <div class="schedule-modal-close-btn" id="schedule-modal-close-btn">X</div>
  </div>

  <script src="js/schedule/script.js" defer></script>
</body>

<%- include("../home/include/_footer") %>
